@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    font-size: 16px;
    display: flex;
    background-color: #f6f6f6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    padding: 1rem;
    align-items: center;
}

.card {
    border-radius: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    margin: 1.5rem;
}

.image-upload {
    position: relative;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: #f8f8f8;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-upload img {
    width: 100%;
}

.image-upload input[type='file'] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    width: 100%;
    margin-top: 20px;
}

form input[type="text"],
form input[type="date"],
form input[type="email"] {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #cccccc;
    border-radius: 0.5rem;
}

.btn-save {
    display: block;
    width: 6rem;
    padding: 0.9rem;
    margin: 1.5rem 0;
    border: none;
    border-radius: 0.9rem;
    background-color: #007bff;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.logo {
    width: 200px;
}



#sidebar {
    min-height: 100vh;
    padding: 1rem;
    background: #fff;
}


#sidebar a {
    color: #7d8da1 !important;
    transition: all 300ms ease !important;
}

#sidebar a:hover {
    color: #7380ec !important;
    margin-left: calc(1rem - 1px) !important;
}

#sidebar a.active {
    color: #7380ec !important;
    margin-left: calc(1rem - 1px) !important;
}

.list-unstyled li:last-child {
    margin-top: 55px;
}

#hamburger-btn {
    display: none;
    position: absolute;
    /* Fixa o botão independente do scroll da página */
    top: -2px;
    /* Posiciona 10px a partir do topo da página */
    left: 10px;
    /* Posiciona 10px a partir do lado esquerdo da página */
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 1001;
}

#sidebar {
    transition: transform 0.3s ease;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.user-info {
    display: flex;
    align-items: center;
}


.user-name {
    font-weight: bold;
    color: #333;
}